@using Edziennik.Data.Models
@{
    ViewData["Title"] = "Teacher's plan";
}
@model IEnumerable<Lesson>
<div class="text-center">
    <table class="table">
        <tr>
            <th><h2>Time</h2></th>
            <th><h2>Monday</h2></th>
            <th><h2>Tuesday</h2></th>
            <th><h2>Wednesday</h2></th>
            <th><h2>Thursday</h2></th>
            <th><h2>Friday</h2></th>
        </tr>
        @for(int i = 0; i< 8; i++)
        {
            int time = i + 8;
            <tr>
                <td><h5>@time : 00 - @time : 45</h5></td>
                @for(int j = 1; j <= 5; j++)
                {
                    int number = j + 5 * i;
                    var lesson = Model.Where(x => x.Number == number).FirstOrDefault();
                    if(lesson != null)
                    {
                        <td>
                            <h5>@lesson.Subject</h5>
                            <p>@lesson.SchoolClass.Name</p>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </table>

</div>
