@using Edziennik.Data.Models
@*@model IEnumerable<SelectListItem>

            <div class="form-floating py-2 col-6">
                <select  asp-items="@Model" class=form-select>
                    <option disabled selected>-Select Class-</option>
                </select>
            </div>
                <select asp-for="Input.CompanyId" style="display:none;" asp-items="@Model.Input.CompanyList" class=form-select>
                    <option disabled selected>-Select Company-</option>
                </select>*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function(){
            $('#Input_Role').change(function(){
                var selection= $('#Input_Role Option:Selected').text();
                if(selection!='Company'){
                    $('#Input_CompanyId').hide();
                }
                else{
                    $('#Input_CompanyId').show();
                }
            })
        })
    </script>
}